.dialogs {
  display: grid;
  grid-template-areas: 
  'dialogs messege'
  'dialogs sendWriteAndEmoji';
  grid-template-rows: 12fr 4fr;
  grid-template-columns: 2fr 10fr;
  padding: 20px 20px;
  margin: 20px 20px;
}

.dialogsItems {
  grid-area: dialogs;
  padding: 0px 12px;
}

.messages{
  grid-area: messege;
}

.sendWriteAndEmoji {
  grid-area: sendWriteAndEmoji;
  align-self: center;
  justify-self: center;
}

.dialogsItems .active {
  color: goldenrod;
}

