.nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: n;
  background-color: orange;
  padding: 20px;
  row-gap: 20px;
}

.item a {
  text-decoration: none;
}

.item a.active {
  color: black;
}

.nav__friends__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}