.ava {
  grid-area: avaDes;
  display: grid;
  grid-template-columns: 4fr 10fr;
  grid-template-areas: 
  "ava status"
  "input status"
  "des des";
}

.uploadImage {
  grid-area: input;
}

.ava img {
  width: 100px !important;
  height: 100px !important;
  grid-area: ava;
}

.about {
  grid-area: des;
}

.status {
  grid-area: status;
}

.status input {
  color: black;
}

.profileImage {
  width: 200px;
  padding-bottom: 4px;
}